<style>
    .mod-ranklist-001 .comm-padding {
        padding-left: .36rem;
        padding-right: .36rem;
    }

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    .mod-ranklist-001 .mod-rank-wrap::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    .mod-ranklist-001 .mod-rank-wrap {
        border-bottom: none;
        border-radius: .1rem;
        overflow: hidden;
        position: relative;
    }


    .mod-ranklist-001 .mod-rank-wrap .rank-list .rank-table {
        width: 100%;
        text-align: center;
        
    }
    .mod-ranklist-001 table {
        border-collapse: collapse;
    }

    .mod-ranklist-001 .mod-rank-wrap .f-24 {
        font-size: .24rem;
    }

    .mod-ranklist-001 .mod-rank-wrap .rank-list .rank-table1 th:nth-child(1) {
        width: 20%;
    }

    .mod-ranklist-001 .mod-rank-wrap .rank-list .rank-table th {
        padding: .22rem 0;
        background: #ec54ff;
        color: #fdd721;
        font-weight: 400;
    }

    .mod-ranklist-001 .mod-rank-wrap .rank-list .rank-table1 th:nth-child(2),
    .mod-ranklist-001 .mod-rank-wrap .rank-list .rank-table1 th:nth-child(3) {
        width: 40%;
    }
    .mod-ranklist-001 .mod-rank-wrap .rank-list {
        overflow: scroll;
        color: #fff;
        background: #966efb;
    }

    .mod-ranklist-001 .mod-rank-wrap .ui-ta-c {
        text-align: center;
    }

    .mod-ranklist-001 mod-rank-wrap .rank-list .rank-table {
        width: 100%;
    }

    .mod-ranklist-001 .f-18 {
        font-size: .18rem;
    }

    .mod-ranklist-001 .mod-rank-wrap .rank-list .rank-table td {
        height: .6rem;
        white-space: nowrap;
    }

    .mod-ranklist-001 .mod-rank-wrap .rank-list .table-bottom {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.9rem;
        line-height: 0.9rem;
        background: #ec54ff;
        border-radius: 0 0 .1rem .1rem;
        border-bottom: 1px solid #ec54ff;
        font-size: 0.28rem;
    }
    .mod-ranklist-001{
        margin: 0 auto;
    }
</style>


<template class="showTemplate">
    <jybranklist uid="uid" v-bind:params="data" inline-template>
        <div class="mod-ranklist-001" v-bind:style="{background:params.outterbgcolor,width:params.outterwidth+'rem'}">
        <div id="rankData"  v-bind:style="{paddingRight:params.rankpadding+'rem',paddingLeft:params.rankpadding+'rem',paddingTop:params.pdTop+'rem'}">
            <template v-if="params.tableContentArr.length == 0">
                <div class="mod-rank-wrap" style="padding-bottom:0.9rem;" >
                    <div class="rank-list">
                        <table class="rank-table rank-table1 f-24">
                            <tbody>
                                <tr style="border-bottom: 1px solid #ec54ff;">
                                    <th>排名</th><th>手机号码</th><th>累计投资金额</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="rank-list ui-ta-c" id="ranklist">
                        <div style="height: 4.8rem;" id="rank_info">
                            <table class="rank-table rank-table1 f-18">
                                <colgroup>
                                    <col width="20%">
                                    <col width="40%">
                                    <col width="40%"> </colgroup>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>131****5445</td>
                                        <td>43000元</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="f-23">
                            <div class="table-bottom">
                                <table class="rank-table" vm-model="myrank-model">
                                    <thead>
                                        <tr>
                                            <td width="20%" vm-html="myRank">2</td>
                                            <td width="40%">我</td>
                                            <td width="40%" vm-html="myScore">33000元</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <template v-else >
                <div class="mod-rank-wrap" v-bind:style="{borderRadius:params.borderradiusval+'rem',paddingBottom:params.contentheight+'rem'}">
                    <div class="rank-list" v-bind:style="{color:params.contentwordColor,background:params.contentbgcolor}">
                        <table class="rank-table rank-table1 f-24">
                            <tbody>
                                <tr v-bind:style="{borderBottom: '1px solid '+params.headbgcolor}">
                                    <th  v-for="(item,index) in params.tableContentArr" v-bind:style="{width:item.tabListWidth+'%',background:params.headbgcolor,color:params.headwordColor}">
                                        {{item.tabContentItem}}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="rank-list ui-ta-c" id="ranklist" v-bind:style="{color:params.contentwordColor,background:params.contentbgcolor}">
                        <div style="height: 4.8rem;" id="rank_info">
                            <table class="rank-table rank-table1 f-18">
                                <colgroup>
                                    <col v-for="(item,index) in params.tableContentArr" v-bind:style="{width:item.tabListWidth+'%'}"></col>
                                </colgroup>
                                <tbody class="lego-rank-list" v-bind:style="{color:params.contentwordColor}">
                                    <tr v-for="(item,index) in data.itemList">
                                        <template v-for="(itemin,indexin) in data.rankKeyArr">
                                            <td v-if="itemin == 'rank'">{{index+1}}</td>
                                            <td v-if="itemin == 'tel'">{{item.tel}}</td>
                                            <td v-if="itemin == 'score'">{{item.score}}</td>
                                            <td v-if="itemin == 'extra'">{{item.extra}}</td>
                                        </template>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="f-23">
                            <div class="table-bottom" v-bind:style="{height:params.footheight+'rem',lineHeight:params.footheight+'rem',borderRadius:'0 0 ' +params.borderradiusval+'rem '+ params.borderradiusval +'rem',background:params.footbgcolor,borderBottom:'1px solid '+params.footbgcolor,color:params.footwordColor}">
                                <table class="rank-table" v-bind:style="{height:params.footheight+'rem',lineHeight:params.footheight+'rem',color:params.footwordColor}">
                                    <thead>
                                        <tr>
                                            <template v-for="(itemin,indexin) in data.rankKeyArr" >
                                                <td v-bind:style="{width:(params.tableContentArr[indexin].tabListWidth)+'%'}"  v-if="itemin == 'rank'">{{data.myRankList.myRank}}</td>
                                                <td v-bind:style="{width:(params.tableContentArr[indexin].tabListWidth)+'%'}"  v-if="itemin == 'tel'">{{'我'}}</td>
                                                <td v-bind:style="{width:(params.tableContentArr[indexin].tabListWidth)+'%'}"  v-if="itemin == 'score'">{{data.myRankList.score/100}}元</td>
                                                <td v-bind:style="{width:(params.tableContentArr[indexin].tabListWidth)+'%'}"  v-if="itemin == 'extra'">{{data.myRankList.extra}}</td>
                                            </template>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        </div>

    </jybranklist>
</template>


<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExt">
    var com_ext = {}

</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = []

</script>

<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {
        getTableTitleList: function (tableTitleArr, colwidthArr) {
            var titleArr = tableTitleArr ? tableTitleArr.split("#") : [],
                colArr = colwidthArr ? colwidthArr.split("#") : [],
                tempArr = [];
            if (titleArr.lenght == colArr.lenght) {
                titleArr.forEach(function (item, index) {
                    var temp = {};
                    temp.title = item;
                    temp.wth = colArr[index];
                    tempArr.push(temp);
                });
            }
            return tempArr;
        },
        getTableContentArr: function (content, colwidthArr) {
            var contentArr = content ? content.split("#") : [],
                colArr = colwidthArr ? colwidthArr.split("#") : [],
                tempArr = [];
            if (contentArr.lenght == colArr.lenght) {
                contentArr.forEach(function (item, index) {
                    var temp = {};
                    temp.content = item;
                    temp.wth = colArr[index];
                    tempArr.push(temp);
                });
            }
            return tempArr;
        },
        getFigure: function (figure) {
            var figureTmp = figure/100;
            return figureTmp;
        }
    };

</script>