<style>
.jybwx_banner_slider{
    position: relative;
    font-size: 0;
    font-family: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-x: auto;  
}
.jybwx_banner_slider .jybwx_banner_slider__item{
    display: inline-block;
    vertical-align: top;
    width:3.04rem;
    height: 3.06rem;
    padding-left:0.2rem;    
}
.jybwx_banner_slider .jybwx_banner_slider__item img{
    width:3.04rem;
    height: 3.06rem;
}
</style>

<template class="showTemplate">

    <commontag uid="commontag" v-bind:params="data" inline-template>
        <div class="jybwx_banner_slider">  
            <template v-if="true">
                <a class="jybwx_banner_slider__item" v-bind:data-stat-id="item.mtaid"
                 v-for="item in params.sliderArr" :href="item.url">
                    <img :src="item.imgSrc"/>
                </a>
            </template>
        </div>
    </commontag>

</template>
<!-- 下面的属性控制MPM中编辑界面 -->

<script class="forMPMExt">
    var com_ext = {}

</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = [{

    }]

</script>
<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {
        getRuleList: function (rulesList) {
            return rulesList ? rulesList.split("$$$") : "";
        }
    };

</script>