<style>
    /* 7月红包组件 */
    .mod-c-coupon-show2 {
  background-color: #3e37d3;
  margin: 0 0.3rem;
  font-size: 0.16rem;
}

.mod-c-coupon-show2 .mod-c-coupon__my-coupon {
  display: inline-block;
  font-size: 0.26rem;
  text-align: right;
  color: #fff;
  padding-left: 5rem;
  padding-bottom: 0.2rem;
}

.mod-c-coupon-show2 .mod-c-coupon__item {
  background-color: #5180e5;
  height: 1.14rem;
  margin: 0 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.2rem;
  position: relative;
  margin-bottom: 0.2rem;
  border-bottom-left-radius: 0.1rem;
}

.mod-c-coupon-show2 .mod-c-coupon__item .mod-c-coupon__status {
  display: inline-block;
  position: absolute;
  left: -0.02rem;
  top: -0.01rem;
  width: 1.39rem;
  height: 1.13rem;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__desc {
  color: #fff;
  font-size: 0.32rem;
  padding-top: 0.14rem;
  padding-left: 1.2rem;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__desc p {
  font-weight: bold;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__desc p span {
  color: #ffdf47;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__desc div {
  font-size: 0.24rem;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__dot {
  border-left: 1px dotted #fff;
  height: 1rem;
  position: absolute;
  right: 2.2rem;
  top: 0.07rem;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__right {
  position: absolute;
  text-align: center;
  top: 0.04rem;
  right: 0.24rem;
  width: 1.8rem;
  text-align: center;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__right .c-coupon__item__left {
  color: #fff;
  font-size: 0.26rem;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__right .c-coupon__item__btn {
  background-color: #ffdf47;
  height: 0.6rem;
  width: 1.46rem;
  font-size: 0.26rem;
  line-height: 0.6rem;
  border-radius: 0.6rem;
  color: #df7a22;
  -webkit-box-shadow: 1px 2px 0px 0px #d6c236;
          box-shadow: 1px 2px 0px 0px #d6c236;
  margin-left: 0.16rem;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__right .c-coupon__item__btn.c-coupon__item__btn-disabled {
  background-color: #e3e3e3;
  color: #9d9d9d;
  margin-top: 0.2rem;
  -webkit-box-shadow: 1px 2px 0px 0px #c7c7c7;
          box-shadow: 1px 2px 0px 0px #c7c7c7;
}

.mod-c-coupon-show2 .mod-c-coupon__item .c-coupon__item__right .c-coupon__item__btn.c-coupon__item__btn-disabled.ui-mt-0 {
  margin-top: 0rem;
}
    /* 弹框公共 */

    .overlay {
        background-color: #000;
        filter: alpha(opacity=60);
        opacity: 0.6;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1024;
        -webkit-backface-visibility: hidden;
        font-size: 0.26rem;
        line-height: 1.2;
        color: #333;
    }

    .mod-dialog {
        border-radius: 3px;
        width: 90%;
        position: fixed;
        top: 25%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 8888;
        overflow: hidden;
        font-size: 0.36rem;
        line-height: 1.2;
        color: #333;
    }

    .ui-mb-20 {
        margin-bottom: 0.2rem;
    }

    .mod-dialog .dialog-title {
        background-color: #fff;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        text-align: center;
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        color: #333;
    }

    .ui-bb-n {
        border-bottom: none !important;
    }

    .mod-dialog .dialog-content {
        box-sizing: border-box;
        overflow: hidden;
        background-color: #fff;
    }

    /* 弹框公共 */

    /* 确认框 */

    .comm-padding {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .ui-pb-60 {
        padding-bottom: 0.6rem;
    }

    .ui-mt-90 {
        margin-top: 0.9rem;
    }

    .ui-ta-c {
        text-align: center;
    }

    .f-36 {
        font-size: 0.36rem;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 100%;
    }

    .f-54 {
        font-size: 0.54rem;
    }

    .ui-mt-10 {
        margin-top: 0.1rem;
    }

    .f-36 {
        font-size: 0.36rem;
    }

    .ui-mt-10 {
        margin-top: 0.1rem;
    }

    .mod-btn2 {
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
    }

    .mod-btn2 div:nth-child(1) {
        width: 45%;
    }

    .mod-btn2 .btn {
        height: 0.86rem;
        line-height: 0.86rem;
        background: #FF6E34;
        color: #fff;
        margin-right: 5%;
        border-radius: 0.05rem;
    }

    .mod-btn2 div {
        -webkit-box-flex: 1;
        position: relative;
    }

    .ui-mt-100 {
        margin-top: 1rem;
    }

    .mod-btn2 .btn:last-child {
        margin-right: 0;
    }

    .mod-btn2 div:nth-child(2) {
        width: 45%;
    }

    /* 确认框 */

    /* 结果框 */

    .f-44 {
        font-size: 0.44rem;
    }

    .ui-ta-c {
        text-align: center;
    }

    .f-28 {
        font-size: 0.28rem;
    }

    .ui-mt-10 {
        margin-top: 0.1rem;
    }

    .mod-btn {
        display: block;
        background-color: #FF6E34;
        text-align: center;
        color: #fff;
        position: relative;
        border-radius: 3px;
        height: 0.86rem;
        line-height: 0.86rem;
        width: 100%;
    }

    .ui-mt-100 {
        margin-top: 1rem;
    }

    /* 结果框 */

    /* 7月红包组件 */
</style>


<template class="showTemplate">
    <jybcoupon uid="jybcoupon" v-bind:params="data" inline-template>
        <div class="mod-c-coupon-show2" v-bind:style="{backgroundColor:params.couponBg}">
            <template v-if="true">
                <a href="jtjr://coupon" class="mod-c-coupon__my-coupon">我的红包>></a>
                <div class="mod-c-coupon__item" v-for="(item,index) in data.couponList" :style="{backgroundColor:item.bgcolor}">
                    <template v-if="item.drawFlag == false">
                        <template v-if="item.times.hour==0 && item.times.minute == 0 && item.times.sec == 0">
                            <img class="mod-c-coupon__status" src="http://images.jyblife.com/act/201808/plateform9/couponing.png"/>
                        </template>
                        <template v-else="">
                            <img class="mod-c-coupon__status" src="http://images.jyblife.com/act/201808/plateform9/coupon_before.png"/>
                        </template>
                    </template>
                    <template v-else="">
                        <img class="mod-c-coupon__status" v-if="item.status == 2" src="http://images.jyblife.com/act/201808/plateform9/couponing.png"/>
                        <img class="mod-c-coupon__status" v-if="item.status == 1" src="http://images.jyblife.com/act/201808/plateform9/coupon_getted.png"/>
                        <img class="mod-c-coupon__status" v-if="item.status == 0" src="http://images.jyblife.com/act/201808/plateform9/coupon_out.png"/>
                    </template>
                    <div class="c-coupon__item__desc">
                        <p>{{item.desc1}}
                            <span>{{item.desc2}}</span>
                        </p>
                        <div>{{item.desc3}}</div>
                    </div>
                    <div class="c-coupon__item__dot"></div>
                    <div class="c-coupon__item__right">
                        <template v-if="item.drawFlag == false">
                            <template v-if="item.times.hour==0 && item.times.minute == 0 && item.times.sec == 0">
                                <div class="c-coupon__item__left" v-if="item.status == 2">剩余:{{item.userLeft}}张</div>
                                <div class="c-coupon__item__btn" :awardindex='index+1' v-bind:data-stat-id="item.mtabtn" v-if="item.status == 2" v-on:click="toDraw">立即领取</div>
                            </template>
                            <template v-else="">
                                <div class="c-coupon__item__left">距开抢还剩</div>
                                <div class="c-coupon__item__btn" v-timecutdown="{data:item , endtime:item.drawTime , nowtime:item.nowtime}">{{item.times.hour}}:{{item.times.minute}}:{{item.times.sec}}</div>
                            </template>
                        </template>
    
                        <template v-else="">
                            <div class="c-coupon__item__left" v-if="item.status == 2">剩余:{{item.userLeft}}张</div>
                            <div class="c-coupon__item__btn" :awardindex='index+1' v-bind:data-stat-id="item.mtabtn" v-if="item.status == 2" v-on:click="toDraw">立即领取</div>
                            <div class="c-coupon__item__btn c-coupon__item__btn-disabled" v-if="item.status == 1">已领取</div>
                            <div class="c-coupon__item__left" v-if="item.status == 0">
                                <template v-if="params.cuttimetype == 1">
                                    明天早点来哦!
                                </template>
                                <template v-else="">
                                    下次早点来哦！
                                </template>
                            </div>
                            <div class="c-coupon__item__btn c-coupon__item__btn-disabled ui-mt-0" v-if="item.status == 0">已抢光</div>
                            <div class="c-coupon__item__btn c-coupon__item__btn-disabled" v-if="item.status == 3">已结束</div>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </jybcoupon>
</template>
<!-- 下面的属性控制MPM中编辑界面 -->
<!-- data.state==1 是预约成功-->
<script class="forMPMExt">
    var com_ext = {}
</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = [{

    }]
</script>
<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {
    }
</script>