<div class="editBox">
    <div class="editBox_2">
        <h3>{{obj.componentName}} {{obj.uid}}</h3>
        <p>
            商品列表组件
        </p>

        <ul class="tab_hd">
            <li v-bind:class="{ 'on': showStyle }" v-on:click="show(0)">
                <a href="javascript:;" title="设置样式">设置样式</a>
            </li>
            <li v-bind:class="{ 'on': showProperty }" v-on:click="show(1)">
                <a href="javascript:;" title="设置数据">设置数据</a>
            </li>
        </ul>

        <div v-show="showStyle" class="styleBox">
            <div class="editArea">
                <form class="form-horizontal" v-for="item in obj.com_extend">
                    <div class="form-group" v-if="item.type == 'radio'">
                        <label>{{item.name}}：</label>
                        <div>
                            <label v-for="item2 in item.data">
                                <input type="radio" :name="obj.uid+'_'+item.nick" :value="item2.value" v-model="obj.data.extend[item.nick]"> {{item2.name}}</label>
                        </div>
                    </div>
                    <div class="form-group" v-if="item.type == 'input'">
                        <label style="float: left;padding-right:14px;">
                            <strong>*</strong>{{item.name}}：</label>
                        <input type="text" :class="item.class" :name="obj.uid+'_'+item.nick" v-model="obj.data.extend[item.nick]" :placeholder="item.placeholder"
                            flag="extendtime" :nick="item.nick">
                    </div>
                </form>
            </div>
            <br>
            <br>
            <dl>
                <dt>样式</dt>
                <dd>
                    <ul>
                        <li v-for="item in arrStyle">
                            <div style="display:none;">
                                {{item.com_desc}}
                                <input type="radio" :name="obj.uid" :id="obj.uid+'_'+item.id" :value="item.id"
                                    v-model="obj.data.styleKey">
                                <br/>
                            </div>
                            <label :class="item.id == obj.data.styleKey ? 'on' : ''" :for="obj.uid+'_'+item.id">
                                <img :src="item.image" alt="">
                            </label>
                            <div class="styleDesc">
                                {{item.com_desc}}
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>


        </div>

        <div v-show="showProperty" class="editArea">
            <form class="form-horizontal" v-if="obj.data.isShowNpmVersions">
                <div class="coupon-group">
                    <div class="form-group">
                        <label>
                            <strong></strong>版本号：</label>
                        <select name="action" @change="selectNpmVersion" v-model="obj.data.npmversion">
                            <option :value="item.version" v-for="item in obj.data.npmversionArr">{{item.desc}}</option>
                        </select>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="coupon-group">
                    <div class="form-group">
                        <label>
                            <strong>*</strong>活动号：</label>
                        <input type="text" placeholder="比如：Gi8LaA==" v-model="obj.data.actId">
                    </div>
                    <div class="form-group">
                        <label>
                            <strong>*</strong>命令字：</label>
                        <input type="text" placeholder="比如：41060225" v-model="obj.data.cmd">
                    </div>
                    <div class="form-group">
                      <label><strong></strong>购买背景色：</label>
                      <input type="color" v-model="obj.data.buyBtnBg">
                      <input type="text" class="colorFrameInput" v-model="obj.data.buyBtnBg" value="">
                    </div>
                    <div class="form-group">
                        <label><strong></strong>购买字体色：</label>
                        <input type="color" v-model="obj.data.buyColor">
                        <input type="text" class="colorFrameInput" v-model="obj.data.buyColor" value="">
                    </div>
                    <div class="form-group">
                        <label>
                            <strong>*</strong>展示个数：</label>
                        <input type="text" placeholder="商品展示个数" v-model="obj.data.showNum">
                    </div>
                    <div class="form-group">
                        <label>
                            <strong>*</strong>展示类型：</label>
                        <select v-model='obj.data.showType'>
                            <option value='1'>白拿</option>
                            <option value='2'>购买</option>
                            <option value='3'>分期</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>
                            <strong></strong>广告图片：</label>
                        <input type="text" placeholder="图片地址" v-model="obj.data.advertUrl">
                    </div>

                    <div class="form-group form-radio">
                        <label>展示全部：</label>
                        <input name="isShowAll" v-model="obj.data.isShowAll"  style="width:16px;height:16px;" type="radio" value="0">是
                        <input name="isShowAll" v-model="obj.data.isShowAll" style="width:16px;height:16px" type="radio" value="1">否
                    </div>

                    <div class="form-group" v-if="obj.data.isShowAll == 1">
                        <label>
                            <strong></strong>跳转地址：：</label>
                        <input type="text" placeholder="查看全部跳转地址" v-model="obj.data.jumpUrl">
                    </div>

                    <div class="form-group">
                        <label><strong>*</strong>结束日期：</label>
                        <input type="text" v-model="obj.data.endtime" placeholder="2017/09/20 05:00:00" class="selecttime">
                    </div>

                    <div class="form-group">
                        <label>
                            <strong></strong>上报ID：</label>
                        <input type="text" placeholder="比如：30000.1.2" v-model="obj.data.eventid">
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="coupon-group">
                    <div class="form-group form-radio">
                        <label>主题头部：</label>
                        <input name="isshowsubject" v-model="obj.data.isShowSubject"  style="width:16px;height:16px;" type="radio" value="0">展示
                        <input name="isshowsubject" v-model="obj.data.isShowSubject" style="width:16px;height:16px" type="radio" value="1">隐藏
                    </div>
                    <div class="form-group" v-if="obj.data.isShowSubject == 0">
                        <label>
                            <strong>*</strong>主题文案：</label>
                        <input type="text" placeholder="比如：圣诞必买清单" v-model="obj.data.subjectDesc">
                    </div>
                    <div class="form-group form-radio" v-if="obj.data.isShowSubject == 0">
                        <label>倒计时：</label>
                        <input name="isShowTimer" v-model="obj.data.isShowTimer"  style="width:16px;height:16px;" type="radio" value="0">展示
                        <input name="isShowTimer" v-model="obj.data.isShowTimer" style="width:16px;height:16px" type="radio" value="1">隐藏
                    </div>
                    <div class="form-group" v-if="obj.data.isShowSubject == 0 && obj.data.isShowTimer == 0">
                        <label>
                            <strong>*</strong>倒计时文案：</label>
                        <input type="text" placeholder="比如：距离结束还有" v-model="obj.data.timerDesc">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>