<style>
    .lego-topactrule-show3 .mod-fixed-rule {
        position: absolute;
        right: 0rem;
        top: 0.2rem;
        width: 1.28rem;
        height: 0.58rem;
        line-height: 0.58rem;
        font-size: 0.24rem;
        z-index: 1000;
        text-align: center;
        /* background: -webkit-gradient(linear, left top, left bottom, from(#765aff), to(#eb54ff));
        background: -webkit-linear-gradient(top, #765aff, #eb54ff);
        background: -o-linear-gradient(top, #765aff, #eb54ff);
        background: linear-gradient(top, #765aff, #eb54ff); */
        color: #ffffff;
        border-bottom-left-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem; 
        background-size: 1.2rem 0.52rem;
        background-repeat: no-repeat;
        background-image: url(https://images.jyblife.com/lego/toprules-bg.png)
    }
    
    .lego-topactrule-show3 .ui-mb-20 {
        margin-bottom: .2rem;
    }
    
    .lego-topactrule-show3 .mod-dialog {
        position: absolute;
        left: 50%;
        top: 1.44rem;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 6rem;
        z-index: 8888;
        overflow: hidden;
        font-size: .36rem;
        border-radius: 3px;
    }
    
    .lego-topactrule-show3 .mod-dialog .dialog-content {
        box-sizing: border-box;
        overflow: hidden;
        background-color: #fff;
    }
    
    .lego-topactrule-show3 .mod-act-rule {
        padding: .4rem;
    }
    
    .lego-topactrule-show3 .ui-text-strong {
        font-weight: 700;
    }
    
    .lego-topactrule-show3 .ui-ta-c {
        text-align: center;
    }
    
    .lego-topactrule-show3 .mod-act-rule .rule-content {
        text-align: left;
        width: 5.2rem;
        box-sizing: border-box;
        background: #fff;
        color: #262626;
        line-height: 1.4;
        font-size: .26rem;
        height: 5.87rem;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        position: relative;
    }
    
    .lego-topactrule-show3 .ui-mb-20 {
        margin-bottom: .2rem;
    }
    
    .lego-topactrule-show3 .ui-mb-20 {
        margin-bottom: .2rem;
    }
    
    .lego-topactrule-show3 .mod-act-rule .rule-content::-webkit-scrollbar {
        display: none
    }
    
    .lego-topactrule-show3 .mod-btn {
        margin-top: .39rem;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        background: #2c3185;
        color: #fff;
        font-size: .34rem;
    }
    
    .lego-topactrule-show3 .overlay {
        background-color: #000;
        filter: alpha(opacity=60);
        opacity: .6;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1024;
        -webkit-backface-visibility: hidden;
    }
    
    .lego-topactrule-show3 .dialogWrapper {
        display: none;
    }
    .lego-topactrule-show3 dl , .lego-topactrule-show3 dt , .lego-topactrule-show3 dd   {
        margin: 0;
        padding: 0;
        vertical-align: baseline
        }
</style>

<template class="showTemplate">

    <commontag uid="commontag" v-bind:params="data" inline-template>
        <div class="lego-topactrule-show3">
            <template v-if="true">
                <div class="mod-fixed-rule f-20" v-bind:style='{backgroundImage: "url("+params.imgurl+")",top:params.toprem+"rem",right:params.leftrem+"rem"}' v-on:click="showRulesDialog" >{{params.rulesTitle}}</div>
                <div id="dialog-wrapper" v-bind:class="{ dialogWrapper: params.isShowDialog }">
                    <div class="overlay"></div>
                    <div class="mod-dialog ui-mb-20">
                        <div class="dialog-content ui-ov-h">
                            <div class="mod-act-rule">
                                <p class="ui-ta-c ui-text-strong ui-pb-10" style="font-size: .38rem;">{{params.rulesTitle}}</p>
                                <div class="rule-content">
                                    <dl class="ui-mb-20" v-for="(item ,index) in params.rulesContent">
                                        <dt>{{index+1}}.{{item.rulesTitle}}</dt>
                                        <dd v-for="(items ,indexs) in params.fnObj.getRuleList(item.rulesDes)">{{items}}</dd>
                                    </dl>
                                </div>
                                <div class="mod-btn ui-mt-20" v-bind:style='{background: params.rulesBgColor, color: params.rulesContentColor}' v-on:click="hideRulesDialog">确定</div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div>
    </commontag>

</template>
<!-- 下面的属性控制MPM中编辑界面 -->

<script class="forMPMExt">
    var com_ext = {}

</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = [{

    }]

</script>
<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {
        getRuleList: function (rulesList) {
            return rulesList ? rulesList.split("$$$") : "";
        }
    };

</script>