<div class="editBox">
    <div class="editBox_2">
        <h3>{{obj.componentName}} {{obj.uid}}</h3>
        <p >
            签到组件
        </p>

        <ul class="tab_hd">
            <li v-bind:class="{ 'on': showStyle }" v-on:click="show(0)"><a href="javascript:;" title="设置样式">设置样式</a></li>
            <li v-bind:class="{ 'on': showProperty }" v-on:click="show(1)"><a href="javascript:;" title="设置数据">设置数据</a></li>
        </ul>
        <div v-show="showStyle" class="styleBox">
               <div class="editArea">
                <form class="form-horizontal" v-for="item in obj.com_extend">
                    <div class="form-group" v-if="item.type == 'radio'">
                        <label>{{item.name}}：</label>
                        <div>
                            <label v-for="item2 in item.data"><input type="radio" :name="obj.uid+'_'+item.nick" :value="item2.value" v-model="obj.data.extend[item.nick]"> {{item2.name}}</label>
                        </div>
                    </div>
                    <div class="form-group" v-if="item.type == 'input'">
                        <label style="float: left;padding-right:14px;"><strong></strong>{{item.name}}：</label>
                        <input type="text" :class="item.class" :name="obj.uid+'_'+item.nick" v-model="obj.data.extend[item.nick]" :placeholder="item.placeholder" 
                        flag="extendtime"  :nick="item.nick">
                    </div>
                </form>
            </div>
            <br>
            <br>
            <dl>
                <dt>样式</dt>
                <dd>
                    <ul>
                        <li v-for="item in arrStyle" :key="item.id">
                            <div style="display:none;">
                                {{item.com_desc}}<input type="radio" :name="obj.uid"  :id="obj.uid+'_'+item.id"
                                                        :value="item.id" v-model="obj.data.styleKey"><br/>
                            </div>
                            <label :class="item.id == obj.data.styleKey ? 'on' : ''" :for="obj.uid+'_'+item.id"><img :src="item.image" alt=""></label>
                            <div class="styleDesc">
                                {{item.com_desc}}
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>

         
        </div>

        <div v-show="showProperty" class="editArea">
                <form class="form-horizontal"  v-if="obj.data.isShowNpmVersions == 9">
                        <div class="coupon-group">
                        <div class="form-group">
                            <label><strong></strong>版本号：</label>
                            <select name="action" @change="selectNpmVersion" v-model="obj.data.npmversion">
                                <option :value="item.version" v-for="item in obj.data.npmversionArr">{{item.desc}}</option>
                            </select>
                        </div>
                        </div>
                    </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label><strong></strong>活动号：</label>
                    <input type="text" name="" v-model.lazy="obj.data.actid" placeholder="" > 
                </div>
                <div class="form-group">
                    <label><strong></strong>查询命令字：</label>
                    <input type="text" name=""  v-model.lazy="obj.data.queryCmd" placeholder="" >
                </div>
                <div class="form-group">
                    <label><strong></strong>签到命令字：</label>
                    <input type="text" name=""  v-model.lazy="obj.data.signCmd" placeholder="" >
                </div>
                <div class="form-group">
                    <label><strong></strong>上报ID：</label>
                    <input type="text" placeholder="比如：30000.1.2" v-model="obj.data.eventid"> 
                </div>
                <div class="form-group">
                    <label><strong></strong>背景图：</label>
                    <input type="text" placeholder="图片服务器地址" v-model="obj.data.backgroundImage"> 
                </div>
                <div class="form-group">
                    <label><strong></strong>左右边距：</label>
                    <input type="text" placeholder="请输入左右边距px" v-model="obj.data.padding"> 
                    <span>默认30px(30px在750屏幕)</span>
                </div>
                <div class="form-group">
                    <label><strong></strong>签到按钮背景色：</label>
                    <input type="text" placeholder="输入带#号色值" v-model="obj.data.btnBackColor" maxlength="7">
                </div>
                <div class="form-group">
                    <label><strong></strong>进度条背景色：</label>
                    <input type="text" placeholder="输入带#号色值" v-model="obj.data.progressBarBgColor" maxlength="7">
                </div>
                <div class="form-group">
                    <label><strong></strong>进展背景色：</label>
                    <input type="text" placeholder="输入带#号色值" v-model="obj.data.progressBgColor" maxlength="7">
                </div>
                <div class="form-group">
                    <label><strong></strong>总的签到天数：</label>
                    <input type="text" placeholder="输入数字" v-model="obj.data.totalSignInDays">
                    <span>用于签到进度条定位</span>
                </div>
            </form>
            <div><button class="jc-btn btn-primary" @click="addSignReward()">增加签到奖励</button></div>
            <div class="coupon-group" v-for="(item,index) in obj.data.rewardList" style="overflow:hidden;">
                <h4>奖励{{index + 1}}</h4>
                <button type="button" class="jc-btn btn-primary delBtn" @click="deleteReward(index)">删除</button>
                <div style="margin-top:30px">
                    <div class="form-group">
                        <label><strong>&nbsp;</strong>奖励图片：</label>
                        <input type="text" placeholder="输入图片服务器地址" v-model="item.reward_image">
                        <span>图片规格大小不超过100*60</span>
                    </div>
                    <div class="form-group">
                        <label><strong>*</strong>奖励名称：</label>
                        <input type="text" placeholder="奖励名称" v-model="item.reward_desc">
                    </div>
                    <div class="form-group">
                        <label><strong>&nbsp;</strong>文字颜色：</label>
                        <input type="text" placeholder="输入带#号色值" maxlength="7" v-model="item.desc_color">
                    </div>
                    <div class="form-group">
                        <label><strong>*</strong>获奖天数：</label>
                        <input type="text" placeholder="输入天数" v-model="item.reward_days">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
