<style>
.mod-c-signin {
    text-align: center;
    position: relative;
}
.mod-c-signin .c-signin__bg {
    width: 90%;
    margin: 0 auto;
}
img {
    vertical-align: top;
}
.mod-c-signin .c-signin__info {
    position: absolute;
    top: 0.7rem;
    left: 2.96rem;
    line-height: 0.42rem;
}
.mod-c-signin .c-signin__info .signin-info__count {
    color: #fff;
    font-size: 0.34rem;
}
.mod-c-signin .c-signin__info .signin-info__desc {
    color: #f5b4b5;
    font-size: 0.26rem;
}
.mod-c-signin .c-signin__btn.c-signin__btn--done {
    background: url(https://images.jyblife.com//act/201712/shuangdan/signin-done.png) 0 0/1.21rem 1.25rem no-repeat;
}
.mod-c-signin .c-signin__btn {
    width: 1.21rem;
    height: 1.25rem;
    position: absolute;
    top: 0.46rem;
    left: 5.5rem;
    background: url(https://images.jyblife.com//act/201712/shuangdan/signin-not.png) 0 0/1.21rem 1.25rem no-repeat;
}
.mod-c-signin .c-signin__progress {
    width: 80%;
    height: 0.2rem;
    border-radius: 0.1rem;
    overflow: hidden;
    -webkit-box-shadow: 0 0 4px 0px #ddd inset;
    box-shadow: 0 0 4px 0px #ddd inset;
    position: absolute;
    top: 74%;
    left: 10%;
    background-color: #fdaf36;
}
.mod-c-signin .c-signin__progress .signin-progress__value {
    display: block;
    width: 70%;
    height: 100%;
    background-color: #d65559;
    background-size: 60px 30px;
}
.mod-c-signin .c-signin__dot {
    width: 0.32rem;
    height: 0.28rem;
    position: absolute;
    top: 73%;
    left: 63%;
    background: url(https://images.jyblife.com//act/201712/shuangdan/signin_dot.png) 0 0/0.32rem 0.28rem no-repeat;
}
</style>


<template class="showTemplate">
    <jybsignin uid="jybsignin" v-bind:params="data" inline-template="">
        <div class="mod-c-signin">
            <template v-if="true">
                <img class="c-signin__bg" src="https://images.jyblife.com/act/201712/shuangdan/qiandao.png" alt="签到">
                <div class="c-signin__info">
                    <div class="signin-info__count"> 已累计签到{{data.signInSum}}天 </div>
                    <div class="signin-info__desc"> 每日签到领惊喜 </div>
                </div>
                <div class="c-signin__btn" v-if="!data.isSignIn" v-on:click="toSignin" v-bind:data-stat-id="params.eventid || ''"> </div>
                <div class="c-signin__btn c-signin__btn--done" v-if="data.isSignIn"> </div>
                <div class="c-signin__progress">
                    <span class="signin-progress__value" v-bind:style="{width:data.signInPercent+'%'}"></span>
                </div>
                <div class="c-signin__dot" v-bind:style="{left:data.signInDot+'rem'}"></div>
            </template>
        </div>
    </jybsignin>
</template>


<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExt">
    var com_ext = {}
</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = []
</script>

<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {};
</script>