<style>
    .pf_160501_7 .o2_tab_wp {
        min-height: 40px;
        width: 7.5rem;
        /* margin-bottom: 0.5rem; */
    }
    
    .pf_160501_7 .o2_tab_wp .o2_column_nav_wp,
    .pf_160501_7 .o2_tab_wp .o2_cate_nav_wp {
        width: 7.5rem;
        overflow: hidden;
        background: #fff;
    }
    
    .pf_160501_7 .o2_tab_wp .o2_cate_nav_wp {
        position: relative;
    }
    
    .pf_160501_7 .o2_tab_wp .o2_column_nav,
    .pf_160501_7 .o2_tab_wp .o2_cate_nav1 {
        height: 40px;
        background: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .pf_160501_7 .o2_tab_wp .fixed,
    .pf_160501_7 .o2_tab_wp .fixed {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9999;
        width: 100%;
    }
    
    .pf_160501_7 .o2_column_nav_wp.o2_on .o2_column_nav_tan,
    .pf_160501_7 .o2_cate_nav_wp.o2_on .o2_column_nav_tan {
        display: block;
    }
    
    .pf_160501_7 .o2_column_nav a {
        position: relative;
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        box-flex: 1;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
    }
    
    .pf_160501_7 .o2_column_nav a::before {
        position: absolute;
        content: " ";
        height: 24px;
        top: 8px;
        right: 0;
        width: 1px;
        background: #d2d1d1;
        -webkit-transform: scalex(0.5);
        -ms-transform: scalex(0.5);
        transform: scalex(0.5);
    }
    
    .pf_160501_7 .o2_column_nav a:last-child::before {
        display: none;
    }
    
    .pf_160501_7 .o2_column_nav a.o2_on {
        color: #e4393c;
    }
    
    .pf_160501_7 .o2_column_nav a.o2_on:after {
        position: absolute;
        content: " ";
        height: 3px;
        background: #f63d40;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .pf_160501_7 .o2_column_nav_tan {
        background: #fff;
        padding: 0.4rem 0.5rem 0;
        position: relative;
        display: none;
    }
    
    .pf_160501_7 .o2_column_nav_tan:before {
        position: absolute;
        content: " ";
        width: 100%;
        height: 1px;
        background: #cdcdcd;
        top: 0;
        left: 0;
        -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
    
    .pf_160501_7 .o2_column_nav_tan a {
        display: block;
        width: 4.2rem;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        color: #e4393c;
        float: left;
        margin: 0 0.3rem 0.4rem 0;
        text-align: center;
        position: relative;
        border-radius: 25px;
    }
    
    .pf_160501_7 .o2_column_nav_tan a:before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        right: -100%;
        bottom: -100%;
        border: 1px solid #e4393c;
        border-radius: 25px;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        pointer-events: none;
    }
    
    .pf_160501_7 .o2_column_nav_tan a.o2_on {
        background: #e4393c;
        color: #fff;
    }
    
    .pf_160501_7 .o2_column_nav_tan a:nth-child(4n) {
        margin-right: 0;
    }
    
    .pf_160501_7 .o2_cate_nav1 a {
        position: relative;
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        box-flex: 1;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
    }
    
    .pf_160501_7 .o2_cate_nav1 a span {
        display: block;
        width: 4.2rem;
        height: 24px;
        line-height: 24px;
        border-radius: 24px;
        color: #e4393c;
        margin: 8px auto 0;
        position: relative;
    }
    
    .pf_160501_7 .o2_cate_nav1 a span::before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        bottom: -100%;
        right: -100%;
        border: 1px solid #e4393c;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        border-radius: 24px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .pf_160501_7 .o2_cate_nav1 a.o2_on span {
        background: #e4393c;
        color: #fff;
    }
    
    .pf_160501_7 .o2_cate_nav {
        font-size: 0;
        font-family: none;
        white-space: nowrap;
        background: #fff;
        height: 40px;
    }
    
    .pf_160501_7 .o2_cate_nav a {
        display: inline-block;
        position: relative;
        font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
        width: 25%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
    }
    
    .pf_160501_7 .o2_cate_nav a span {
        display: block;
        width: 4.2rem;
        height: 24px;
        line-height: 24px;
        border-radius: 24px;
        color: #e4393c;
        margin: 8px auto 0;
        position: relative;
    }
    
    .pf_160501_7 .o2_cate_nav a span::before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        bottom: -100%;
        right: -100%;
        border: 1px solid #e4393c;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        border-radius: 24px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .pf_160501_7 .o2_cate_nav a.o2_on span {
        background: #e4393c;
        color: #fff;
    }
    
    .pf_160501_7 .o2_tab_updw {
        width: 2.5rem;
        height: 40px;
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABQCAMAAADY1yDdAAAABGdBTUEAALGPC/xhBQAAAFdQTFRF////////////////////////////////////////////////////////////////////////////////////////////////////////////////////3Ox6gQAAABx0Uk5TBXpF+psosGQR37rmhVnWxBgK7qWQbztPzSD0MWQSKOIAAABQSURBVFjD7c1HAYNAAACwY++yN/51YoJfEwMJYSyHM7u3eO+KNWqXdM7r/vhVzXQlz0eCRCKRSCQSiUQikUgkEolEIpFIJBKJRCKRSCT/lbxCIew/ZCB7jwAAAABJRU5ErkJggg==") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .pf_160501_7 .o2_tab_updw:before {
        position: absolute;
        content: " ";
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAUBAMAAAAaSvJBAAAABGdBTUEAALGPC/xhBQAAACRQTFRFZmZmZmZmZWVlZmZmZmZmZmZmZmZmZmZmZmZmZmZmAAAAZmZmpwQ5mQAAAAt0Uk5T0dITvMkxuxITzgBQhDwEAAAAfklEQVQY02NYhQ4Ylmag8NuiGBbv7EISWDE7i2HF7BlIIp07qxiARBeSkumrGMAkkhKgCJhCKAGJIBSB5RhWIRRBpBhWIRRpgmUY4KphEgwI5VDNDHAjYU5lgJsJcykDzN4KmG8YYG4TgHmGAea43TAPw0RWuHShiSCFIYYIACMc2jrRktR4AAAAAElFTkSuQmCC") no-repeat;
        right: 12px;
        top: 50%;
        margin-top: -5px;
        width: 17px;
        height: 10px;
        background-size: 100% 100%;
    }
    
    .pf_160501_7 .o2_tab_updw i {
        display: none;
    }
    
    .pf_160501_7 .o2_cate_nav_wp.o2_on .o2_tab_updw {
        width: 100%;
        height: 40px;
        background: #fff;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 0.5rem;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .pf_160501_7 .o2_cate_nav_wp.o2_on .o2_tab_updw::before {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    
    .pf_160501_7 .o2_cate_nav_wp.o2_on .o2_tab_updw::after {
        position: absolute;
        content: " ";
        top: 0;
        height: 40px;
        width: 1px;
        background: #cdcdcd;
        right: 40px;
        -webkit-transform: scaleX(0.5);
        -ms-transform: scaleX(0.5);
        transform: scaleX(0.5);
    }
    
    .pf_160501_7 .o2_cate_nav_wp.o2_on .o2_tab_updw i {
        display: block;
        color: #e4393c;
        font-size: 14px;
        line-height: 40px;
    }
</style>


<!-- 一行最多5个 -->
<template class="showTemplate">
    <jybswitchlist uid="switchlist" v-bind:params="data" inline-template>
        <div class="pf_160501_7">
            <div class="o2_tab_wp">
                <div class="o2_column_nav_wp">
                    <div :class="{ 'o2_column_nav': true }">
                        <template v-if="true">
                            <a href="javascript:;" :ptag="item.ptag" @click="toggleTabs(index)" v-for="(item,index) in params.tabs" :tab="index" :class="index == data.tabIndex ? 'o2_on' : '' "
                                :title="item.tabTitle">{{item.tabTitle}}</a>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </jybswitchlist>

    <div class="childBox">
    </div>

</template>

<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExt">
    var com_ext = {}
</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend =  []
</script>
<!-- <script class="forMPMExtend">
    var com_extend =  [{
            "name": "导航位置",
            "nick": "position",
            "type": "radio",
            "data": [
                {
                    "name": "不吸顶",
                    "value": "0"
                },
                {
                    "name": "滚动吸顶",
                    "value": "1"
                }
            ]
        }]
</script> -->

<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {};
</script>