<style>
.lego-jybswitchlist-show6 {
  height: .90rem;
}
.lego-jybswitchlist-show6.ui-p-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  z-index: 998;
}
.lego-jybswitchlist-show6.ui-p-fixed {
  position: fixed;
  top: 0;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  left: 0;
  z-index: 998;
}
.lego-jybswitchlist-show6 .tab-wrap {
  position: relative;
  width: 7.5rem;
  height: .90rem;
  overflow: hidden;
}
.lego-jybswitchlist-show6 .tab-box {
  height: .90rem;
  background-color: #d6141d;
  font-size: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.lego-jybswitchlist-show6 .tab-item {
  display: inline-block;
  padding-left: .24rem;
  padding-right: .24rem;
  line-height: .90rem;
  font-size: .28rem;
  color: #fff;
  background-color: #d6141d;
  border-right: 1px solid #e2410d;
}
.lego-jybswitchlist-show6 .tab-item:last-child {
  border-right: 0;
}
.lego-jybswitchlist-show6 .tab-item_active {
  background-color: #ffb736;
  color: #c90900;
}
.lego-jybswitchlist-show6 .ui-p-fixed {
  position: fixed;
  top: 0;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  left: 0;
  z-index: 998;
}
</style>
  
<template class="showTemplate">
  <jybswitchlist uid="switchlist" v-bind:params="data" inline-template>
    <div class="lego-jybswitchlist-show6" data-role="fixed">
      <div class="tab-wrap">
        <div class="tab-box">
          <a href="javascript:;"
            class="tab-item"
            :data-stat-id="item.eventid || ''"
            @click="toggleTabs(index)"
            v-for="(item,index) in params.tabs"
            :tab="index"
            :class="index == data.tabIndex ? 'tab-item_active' : '' "
            :title="item.tabTitle">
            {{item.tabTitle}}
          </a>
        </div>
      </div>
    </div>
  </jybswitchlist>
  <div class="childBox">
  </div>
</template>
  
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExt">
    var com_ext = {}

</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = []

</script>
<!-- <script class="forMPMExtend">
    var com_extend =  [{
            "name": "导航位置",
            "nick": "position",
            "type": "radio",
            "data": [
                {
                    "name": "不吸顶",
                    "value": "0"
                },
                {
                    "name": "滚动吸顶",
                    "value": "1"
                }
            ]
        }]
</script> -->

<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {};

</script>