<style>
    
    /* 用户在乐高系统中展示 */
    .jyb-jybsuctionbtn-parent{ 
        transform:translate(0,0) ;
    }
    /* 用户在乐高系统中展示 */
    .jyb-jybsuctionbtn-show1{
        position: relative;
        z-index: 1000;
    }
    .jyb-jybsuctionbtn-show1 .mod-prd-btn {
        width: 100%;
        height: .9rem;
        line-height: .9rem;
        background: #f8b21a;
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }

    .jyb-jybsuctionbtn-show1 .f-36 {
        font-size: .36rem;
    }

    .jyb-jybsuctionbtn-show1 .color-fff {
        color: #fff;
    }

    .jyb-jybsuctionbtn-show1 .ui-ta-c {
        text-align: center;
    }

    .jyb-jybsuctionbtn-show1 .ui-ta-c {
        text-align: center;
    }

    .jyb-jybsuctionbtn-show1 a {
        text-decoration: none;
    }

    .jyb-jybsuctionbtn-show1 a {
        background: 0 0;
        color: inherit;
    }

    /* a:-webkit-any-link {
        color: -webkit-link;
        cursor: auto;
        text-decoration: underline;
    } */

    .jyb-jybsuctionbtn-show1 .f-36 {
        font-size: .36rem;
    }

    .jyb-jybsuctionbtn-show1 .ui-ta-c {
        text-align: center;
    }
</style>


<template class="showTemplate">
    <commontag uid="uid" v-bind:params="data" inline-template>
        <div class="jyb-jybsuctionbtn-show1 jyb-jybsuctionbtn-parent">
            <div class="ui-ta-c color-fff f-36 mod-prd-btn" v-bind:style="{color:params.fontcolor , backgroundColor:params.backgroundcolor}">
                <a v-bind:href="params.tourl" v-bind:style="{color:params.fontcolor }" style="display: block;width:100%;height: 100%;">{{params.btndes}}&gt;&gt;</a>
            </div>
        </div>
    </commontag>
</template>


<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExt">
    var com_ext = {}

</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = []
</script>

<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {};

</script>