<style>
.lego-suctionbtn-show4{
    position: relative;
    margin-top: 0.8rem;
    border: 1px solid;
}
.lego-suctionbtn-show4 .mod-fixed-button {
    height: .86rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: .86rem;
    font-weight: 700;
    background-color: #eeb444;
    color: #fff;
    z-index: 1011;
    display: block;
}
.lego-suctionbtn-show4 .f-36 {
    font-size: .36rem;
}
.lego-suctionbtn-show4 a {
    text-decoration: none;
}

</style>


<template class="showTemplate">
    <commontag uid="uid" v-bind:params="data" inline-template>
        <div class="lego-suctionbtn-show4"> 
            <template v-if="true">
                <a v-bind:data-stat-id="params.eventid || ''" v-bind:href="params.tourl"  class="mod-fixed-button f-36 ui-ta-c">
                    {{params.btndes}}&gt;&gt;
                </a>
            </template> 
        </div>
    </commontag>
</template>


<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExt">
    var com_ext = {}

</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = []
</script>

<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {};

</script>