
@import 'assets/sass/common.scss';
@import '../../node_modules/nprogress/nprogress.css';   // Progress 进度条 样式

#app {
  min-height: 100%;
}

.layout-main {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  .aside-wrap {
    width: 200px;
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 0.3s ease;
    color: #666666;
    border-right: 1px solid #f5f5f5;
    transition: all 0.2s ease;
    &.fold {
      width: 50px;
      padding: 0;
      .logo {
        display: none;
      }
      .el-submenu__title {
        font-size: 0;
        i {
          font-size: 14px;
        }
        .el-submenu__icon-arrow {
          display: none;
        }
      }
      .el-submenu {
        .el-menu {
          display: none;
        }
      }
    }
    .logo {
      text-align: center;
      padding: 20px;
    }
    .el-menu {
      border-right: 0;
      .iconfont {
        color: #999;
        margin-right: 4px;
        position: relative;
        top: -1px;
      }
      .el-menu-item.is-active {
        .iconfont {
          color: #409EFF;
        }
      }
    }
    .menu-indent {
      text-indent: 20px;
    }
  }
  .main-wrap {
    min-height: 100vh;
    width: calc(100% - 200px);
    flex-grow: 1;
    .app-header {
      height: 40px;
      background-color: #eef1f6;
      width: 100%;
      line-height: 40px;
      padding: 0 20px;
      font-size: 0;
      box-sizing: border-box;
      .toggle {
        font-size: 16px;
        color: #999;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        transform: rotate(90deg);
        cursor: pointer;
      }
      .el-breadcrumb {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .app-main {
      padding: 20px;
      box-sizing: border-box;
    }
  }
}

a {
  outline: none;
  &:hover {
    outline: none;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.menu-link {
  display: block;
  text-indent: 20px;
  outline: none;
}

.user-info {
  font-size: 12px;
}

.el-table__body-wrapper {
  overflow-x: hidden;
  .el-table__expanded-cell[class*=cell] {
    background-color: #f5f5f5;
    padding: 20px 30px;
  }
}
