<style>

</style>


<!-- desc -->
<template class="showTemplate">
    <commontag uid="commontag" v-bind:params="data" inline-template>
        <p class="placeHolder">
            自定义代码区段
        </p>
    </commontag>
</template>

<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExt">
    var com_ext = {}
</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = []
</script>

<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {
        
    };
</script>