<style>
/* 商品列表 1 + 2 * n */
.mod-goods-contain {
  font-family: "PingFang SC", "Roboto", arial;
  background-color: #fff;
}

.mod-goods-contain h2 {
  color: #333;
  font-size: 15px;
  line-height: 23px;
  height: 23px;
  text-align: left;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  font-weight: 700;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mod-goods-contain .goods-banner__vic-desc {
  color: #999;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  margin-left: 0.3rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mod-goods-contain .goods-banner__prices {
  color: #999999;
  font-size: 13px;
  height: 13px;
  line-height: 13px;
  text-align: left;
  margin-left: 0.3rem;
  margin-top: 0.29rem;
}

.mod-goods-contain .goods-banner__prices .goods-prices__price {
  color: #ff6e34;
  font-size: 13px;
  font-weight: 700;
}

.mod-goods-contain .goods-banner__prices del {
  margin-right: 0.15rem;
}

.mod-goods-contain .pd-bt-30 {
  padding-bottom: 0.3rem;
}

.mod-goods-contain .mt-tp-10 {
  margin-top: 0.1rem !important;
}

.mod-goods__banner {
  width: 100%;
  text-align: center;
}

.mod-goods__banner .goods-banner__img {
  width: 6.9rem;
  height: 2.33rem;
  margin-top: 0.3rem;
}

.mod-goods__banner h2 {
  color: #333;
  font-size: 15px;
  line-height: 23px;
  height: 23px;
  text-align: left;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  font-weight: 700;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mod-goods__banner .goods-banner__vic-desc {
  color: #999;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  margin-left: 0.3rem;
}

.mod-goods__banner .goods-banner__prices {
  color: #999999;
  font-size: 13px;
  height: 13px;
  line-height: 13px;
  text-align: left;
  margin-left: 0.3rem;
  margin-top: 0.29rem;
}

.mod-goods__banner .goods-banner__prices .goods-prices__price {
  color: #ff6e34;
  font-size: 13px;
  font-weight: 700;
}

.mod-goods__banner .goods-banner__prices del {
  margin-right: 0.15rem;
}

.mod-goods__list {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  margin-top: 0.43rem;
}

.mod-goods__list .goods-list__container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 7.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mod-goods__list .goods-list__container .goods-list__item {
  float: left;
  position: relative;
  background: #fff;
  width: 3.739rem;
}

.mod-goods__list .goods-list__container .goods-list__item:after {
  content: "";
  position: absolute;
  border: 1px solid #e6e6e6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

[data-dpi="2"] .mod-goods__list .goods-list__container .goods-list__item:after {
  right: -100%;
  bottom: -100%;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

[data-dpi="3"] .mod-goods__list .goods-list__container .goods-list__item:after {
  right: -200%;
  bottom: -200%;
  -webkit-transform: scale(0.333, 0.333);
      -ms-transform: scale(0.333, 0.333);
          transform: scale(0.333, 0.333);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.mod-goods__list .goods-list__container .goods-list__item:after {
  border-left: 0;
  border-bottom: 0;
}

.mod-goods__list .goods-list__container .goods-list__item img {
  width: 3.15rem;
  height: 3.15rem;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
}

.mod-goods__list .goods-list__container .goods-list__item:nth-child(even) {
  border-right: 0;
}

.mod-goods__subject {
  width: 7.5rem;
  height: 1.1rem;
  line-height: 1.1rem;
  font-size: 13px;
  vertical-align: middle;
  color: #EC5858;
  position: relative;
}

.mod-goods__subject:after {
  content: "";
  position: absolute;
  border: 1px solid #e6e6e6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

[data-dpi="2"] .mod-goods__subject:after {
  right: -100%;
  bottom: -100%;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

[data-dpi="3"] .mod-goods__subject:after {
  right: -200%;
  bottom: -200%;
  -webkit-transform: scale(0.333, 0.333);
      -ms-transform: scale(0.333, 0.333);
          transform: scale(0.333, 0.333);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.mod-goods__subject:after {
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.mod-goods__subject.align-center {
  text-align: center;
}

.mod-goods__subject .goods-subject__desc {
  font-size: 20px;
  color: #333;
  padding-left: 0.3rem;
  font-weight: 700;
  vertical-align: middle;
}

.mod-goods__subject .goods-subject__time-desc {
  color: #999999;
}

.mod-goods__subject .goods-subject__time-border {
  width: 22px;
  height: 22px;
  color: #fff;
  background-color: #ED5858;
  border-radius: 22px;
  /* padding: 4px; */
  display: inline-block;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
}

.mod-goods__subject .goods-subject__container {
  position: absolute;
  right: 0.3rem;
  top: 0.04rem;
}

.mod-goods__subject .goods-subject__container__status-over {
  color: #999999;
}

.mod-goods__subject .goods-subject__container__status-over .goods-subject__time-border {
  background-color: #999999;
}

.mod-goods__subject.goods-subject__container__status-over {
  color: #999999;
}

.mod-goods__subject.goods-subject__container__status-over .goods-subject__time-border {
  background-color: #999999;
}

.mod-goods-all {
  width: 7.5rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 13px;
  color: #0183FF;
  display: block;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

.mod-goods-all:after {
  content: "";
  position: absolute;
  border: 1px solid #e6e6e6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

[data-dpi="2"] .mod-goods-all:after {
  right: -100%;
  bottom: -100%;
  -webkit-transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

[data-dpi="3"] .mod-goods-all:after {
  right: -200%;
  bottom: -200%;
  -webkit-transform: scale(0.333, 0.333);
      -ms-transform: scale(0.333, 0.333);
          transform: scale(0.333, 0.333);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.mod-goods-all:after {
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}

/* 商品列表 1 + 2 * n */
</style>


<template class="showTemplate">
    <productlist uid="com_1017" v-bind:params="data" inline-template="">
        <div class="lego-productlist-show2">
            <template v-if="true">
                <div class="mod-goods-contain">
                    <div class="mod-goods__subject" v-if="params.isShowSubject == 0 &amp;&amp; params.isShowAll == 1">
                        <span class="goods-subject__desc">{{params.subjectDesc}}</span>
                        <div class="goods-subject__container"  v-bind:class="[(data.times.day==0 && data.times.hour ==0 &&
                         data.times.minute==0 && data.times.sec ==0) ? 'goods-subject__container goods-subject__container__status-over' : 'goods-subject__container']"
                        v-if="params.isShowTimer == 0" v-timecutdown="{data:data , endtime:data.endtime , nowtime:data.nowtime}">
        
                            <span class="goods-subject__time-desc" v-if="data.times.day==0 && data.times.hour ==0 &&
                            data.times.minute==0 && data.times.sec ==0">抢购已结束</span>
                            <span class="goods-subject__time-desc" v-else="">{{params.timerDesc}}</span>
                            <span v-if="data.times.day * 1 > 0">{{data.times.day}}天</span>
                            <span class="goods-subject__time-border">{{data.times.hour}}</span> :
                            <span class="goods-subject__time-border">{{data.times.minute}}</span> :
                            <span class="goods-subject__time-border">{{data.times.sec}}</span>
                        </div>
                    </div>
                    <div class="mod-goods__subject align-center"  v-bind:class="[(data.times.day==0 && data.times.hour ==0 &&
                    data.times.minute==0 && data.times.sec ==0) ? 'goods-subject__container goods-subject__container__status-over align-center' : 'align-center goods-subject__container']"
                    v-if="params.isShowTimer == 0 &amp;&amp; params.isShowAll == 0" v-timecutdown="{data:data , endtime:data.endtime , nowtime:data.nowtime}">
                        <span class="goods-subject__time-desc" v-if="data.times.day==0 && data.times.hour ==0 &&
                          data.times.minute==0 && data.times.sec ==0">抢购已结束</span>
                        <span class="goods-subject__time-desc" v-else="">{{params.timerDesc}}</span>
                        <span v-if="data.times.day * 1 > 0">{{data.times.day}}天</span>
                        <span class="goods-subject__time-border">{{data.times.hour}}</span> :
                        <span class="goods-subject__time-border">{{data.times.minute}}</span> :
                        <span class="goods-subject__time-border">{{data.times.sec}}</span>
                    </div>
                    <div class="mod-goods__banner" v-on:click="toBuy(item.free_prd_id)" 
                    v-bind:data-stat-para="JSON.stringify({'pageActId':params.pageActId,'pageId':params.pageId,
                    'comDesc':params.comDesc , 'itemTitle':item.prd_name,'freeId':item.free_prd_id})"
                        v-if="index == 0 " :prdid="item.free_prd_id" v-bind:data-stat-id="params.eventid || ''"
                        v-for="(item , index) in data.paramList">
                        <img class="goods-banner__img" :lazy="params.advertUrl">
                        <h2>{{item.prd_name}}</h2>
                        <p class="goods-banner__vic-desc">{{item.content}}</p>
                        <p class="goods-banner__prices">
                            <del>原价 ¥{{item.origin_price}}</del> 月付 <span class="goods-prices__price">¥{{item.min_month_amount}} </span>  x{{item.time_limit}} 
                        </p>
                    </div>
                    <div class="mod-goods__list">
                        <ul class="goods-list__container">
                            <li class="goods-list__item" v-on:click="toBuy(item.free_prd_id)" 
                              v-bind:data-stat-para="JSON.stringify({'pageActId':params.pageActId,'pageId':params.pageId,
                              'comDesc':params.comDesc , 'itemTitle':item.prd_name,'freeId':item.free_prd_id})"
                                v-if="index > 0 &amp;&amp; index < params.showNum " :prdid="item.free_prd_id"
                                v-bind:data-stat-id="params.eventid || ''" v-for="(item , index) in data.paramList">
                                <img :lazy="item.image_url">
                                <h2>{{item.prd_name}}</h2>
                                <p class="goods-banner__vic-desc">{{item.content}}</p>
                                <p class="goods-banner__prices ">
                                    <del>原价 ¥{{item.origin_price}}</del>
                                </p> 
                                <p class="goods-banner__prices pd-bt-30 mt-tp-10">
                                    月付<span class="goods-prices__price "> ¥{{item.min_month_amount}} </span>  x{{item.time_limit}} 
                                </p>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:;" v-on:click="toBuy()" class="mod-goods-all" v-if="params.isShowAll == 1">
                        查看全部
                    </a>
                </div>
            </template>

        </div>
    </productlist>
</template>
<!-- 下面的属性控制MPM中编辑界面 -->

<script class="forMPMExt">
    var com_ext = {}

</script>
<!-- 下面的属性控制MPM中编辑界面 -->
<script class="forMPMExtend">
    var com_extend = [{

    }]

</script>
<!-- 下面的对象会扩展到线上的_componentConfig[0].data.fnObj中，行首和行尾不要有任何多余字符 -->
<script class="forIDCExtend">
    var com_js = {
    };

</script>