<div class="editBox">
    <div class="editBox_2">
        <h3>{{obj.componentName}} {{obj.uid}}</h3>
        <p>
            表格组件
        </p>

        <ul class="tab_hd">
            <li v-bind:class="{ 'on': showStyle }" v-on:click="show(0)"><a href="javascript:;" title="设置样式">设置样式</a></li>
            <li v-bind:class="{ 'on': showProperty }" v-on:click="show(1)"><a href="javascript:;" title="设置数据">设置数据</a></li>
        </ul>
        <div v-show="showStyle" class="styleBox">
            <div class="editArea">
                <form class="form-horizontal" v-for="item in obj.com_extend">
                    <div class="form-group" v-if="item.type == 'radio'">
                        <label>{{item.name}}：</label>
                        <div>
                            <label v-for="item2 in item.data"><input type="radio" :name="obj.uid+'_'+item.nick" :value="item2.value" v-model="obj.data.extend[item.nick]"> {{item2.name}}</label>
                        </div>
                    </div>
                    <div class="form-group" v-if="item.type == 'input'">
                        <label style="float: left;padding-right:14px;"><strong></strong>{{item.name}}：</label>
                        <input type="text" :class="item.class" :name="obj.uid+'_'+item.nick" v-model="obj.data.extend[item.nick]" :placeholder="item.placeholder"
                            flag="extendtime" :nick="item.nick">
                    </div>
                </form>
            </div>
            <br>
            <br>
            <dl>
                <dt>样式</dt>
                <dd>
                    <ul>
                        <li v-for="item in arrStyle" :key="item.id">
                            <div style="display:none;">
                                {{item.com_desc}}<input type="radio" :name="obj.uid" :id="obj.uid+'_'+item.id" :value="item.id"
                                    v-model="obj.data.styleKey"><br/>
                            </div>
                            <label :class="item.id == obj.data.styleKey ? 'on' : ''" :for="obj.uid+'_'+item.id"><img :src="item.image" alt=""></label>
                            <div class="styleDesc">
                                {{item.com_desc}}
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>


        </div>

        <div v-show="showProperty" class="editArea">
                <form class="form-horizontal" v-if="true">
                        <div class="coupon-group">
                        <div class="form-group">
                            <label><strong></strong>版本号：</label>
                            <select name="action" @change="selectNpmVersion" v-model="obj.data.npmversion">
                                <option :value="item.version" v-for="item in obj.data.npmversionArr">{{item.desc}}</option>
                            </select>
                        </div>
                        </div>
                    </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <label><strong></strong>左右间距：</label>
                    <input type="text" v-model="obj.data.paddingLAndR" placeholder="比如0.2">
                </div>
                <div class="form-group">
                  <label><strong></strong>是否显示边框：</label>
                  <input type="radio" id="isShowBorder1" value="true" v-model="obj.data.isShowBorder">
                  <label for="isShowBorder1" style="text-align: left; width:120px;">显示</label>
                  <input type="radio" id="isShowBorder2" value="false" v-model="obj.data.isShowBorder">
                  <label for="isShowBorder2" style="text-align: left; width:150px;">不显示</label>
                </div>
                <div class="form-group">
                    <label><strong></strong>边框颜色：</label>
                    <input type="color" v-model="obj.data.bordercolor">
                    <input type="text" class="colorFrameInput" v-model="obj.data.bordercolor" value="">
                </div>
                <div class="form-group">
                    <label><strong></strong>表格圆角：</label>
                    <input type="text" class="colorFrameInput" v-model="obj.data.borderRadius" value="">
                </div>
                <div class="form-group">
                    <label><strong></strong>背景颜色：</label>
                    <input type="color" v-model="obj.data.bgcolor">
                    <input type="text" class="colorFrameInput" v-model="obj.data.bgcolor" value="">
                </div>
                <div class="form-group">
                    <label><strong></strong>字体颜色：</label>
                    <input type="color" v-model="obj.data.wordColor">
                    <input type="text" class="colorFrameInput" v-model="obj.data.wordColor" value="">
                </div>
                <div class="form-group">
                    <label><strong></strong>表格标题：</label>
                    <textarea col="2" placeholder="每个tab标题之间以#隔开" v-model="obj.data.tableTitleArr">
                    </textarea>
                </div>
                <div class="form-group">
                    <label><strong></strong>每列宽度：</label>
                    <input type="text" v-model="obj.data.colwidthArr" placeholder="宽度之间以#隔开" style="width:78%">
                </div>
            </form>

            <!-- 文案描述 -->
            <br><br><br><strong style="font-size:16px;">设置表格内容</strong><br><br><br>
            <form class="form-horizontal">
                <div class="coupon-group" v-for="(item,index) in obj.data.tableContentArr">
                    <h4>行{{index + 1}}</h4>
                    <button type="button" class="jc-btn btn-primary delBtn" @click="deletetableContent(index)">删除</button>
                    <div class="form-group" style="margin-right: 100px;margin-left: 10px;">
                        <label><strong>*</strong>行内容：</label>
                        <textarea col="3" v-model="item.tabContentItem" placeholder="每个列内容之间以#隔开"></textarea>
                    </div>
                </div>
            </form>
            <div class="text-right">
                <button type="button" class="jc-btn btn-primary" @click="addtableContent()">增加行</button>
            </div>
        </div>
    </div>
</div>