<div class="editBox">
    <div class="editBox_2">
        <h3>{{obj.componentName}} {{obj.uid}}</h3>
        <p>
            活动规则组件
        </p>

        <ul class="tab_hd">
            <li v-bind:class="{ 'on': showStyle }" v-on:click="show(0)"><a href="javascript:;" title="设置样式">设置样式</a></li>
            <li v-bind:class="{ 'on': showProperty }" v-on:click="show(1)"><a href="javascript:;" title="设置数据">设置数据</a></li>
        </ul>

        <div v-show="showStyle" class="styleBox">
          <div class="editArea">
                <form class="form-horizontal" v-for="item in obj.com_extend">
                    <div class="form-group" v-if="item.type == 'radio'">
                        <label>{{item.name}}：</label>
                        <div>
                            <label v-for="item2 in item.data"><input type="radio" :name="obj.uid+'_'+item.nick" :value="item2.value" v-model="obj.data.extend[item.nick]"> {{item2.name}}</label>
                        </div>
                    </div>
                    <div class="form-group" v-if="item.type == 'input'">
                        <label style="float: left;padding-right:14px;"><strong>*</strong>{{item.name}}：</label>
                        <input type="text" :class="item.class" :name="obj.uid+'_'+item.nick" v-model="obj.data.extend[item.nick]" :placeholder="item.placeholder" 
                        flag="extendtime"  :nick="item.nick">
                    </div>
                </form>
            </div>
            <br>
            <br>
                    <dl>
                <dt>样式</dt>
                <dd>
                    <ul>
                        <li v-for="item in arrStyle" v-if="item.priority != 10000">
                            <div style="display:none;">
                                {{item.com_desc}}<input type="radio" :name="obj.uid" :id="obj.uid+'_'+item.id"
                                                        :value="item.id" v-model="obj.data.styleKey"><br/>
                            </div>
                            <label :class="item.id == obj.data.styleKey ? 'on' : ''" :for="obj.uid+'_'+item.id"><img :src="item.image" alt=""></label>
                            <div class="styleDesc">
                                {{item.com_desc}}
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>

          
        </div>

        <div v-show="showProperty" class="editArea">
            <form class="form-horizontal"  v-if="obj.data.isShowNpmVersions">
                    <div class="coupon-group">
                    <div class="form-group">
                        <label><strong></strong>版本号：</label>
                        <select name="action" @change="selectNpmVersion" v-model="obj.data.npmversion">
                            <option :value="item.version" v-for="item in obj.data.npmversionArr">{{item.desc}}</option>
                        </select>
                    </div>
                    </div>
                </form>
            <form class="form-horizontal">
                <div class="coupon-group" >
                    <div class="form-group">
                        <label><strong>*</strong>规则标题：</label>
                        <input type="text" v-model="obj.data.rulesTitle"> 
                    </div>
                    <div class="form-group">
                        <label><strong></strong>背景色：</label>
                        <input type="color" v-model="obj.data.rulesBgColor"> 
                        <input type="text" class="colorFrameInput" v-model="obj.data.rulesBgColor" value="" >
                    </div>
                    <div class="form-group">
                        <label><strong></strong>内容颜色：</label>
                        <input type="color" v-model="obj.data.rulesContentColor"> 
                        <input type="text"  class="colorFrameInput" v-model="obj.data.rulesContentColor"  value="" >
                    </div>
                </div>
            </form>
          
            <!-- 文案描述 -->
            <br><br><br><strong style="font-size:16px;">设置规则</strong><br><br><br>
            <form class="form-horizontal">
                <div class="coupon-group" v-for="(item,index) in obj.data.rulesContent">
                    <h4>规则{{index + 1}}</h4>
                    <button type="button" class="jc-btn btn-primary delBtn" @click="deleteRulespoint(index)">删除</button>
                    <div class="form-group">
                        <label><strong>*</strong>规则标题：</label>
                        <input type="text" v-model="item.rulesTitle" size="40">
                    </div>
                    <div class="form-group">
                        <label><strong>*</strong>规则描述：</label>
                        <textarea col="3" v-model="item.rulesDes" placeholder="换行的话用$$$隔开"></textarea>
                    </div>
                </div>
            </form>
            <div class="text-right">
                <button type="button" class="jc-btn btn-primary" @click="addRulespoint()">增加规则</button>
            </div>
            
        </div>

    </div>
</div> 